@import "tailwindcss";


:root {
  --app-background: #120d0c;
  --point-color: #ff4128;
  --point-color-rgb: 57 255 20;
  --background: var(--app-background);
  --foreground: #ededed;
  --font-jetbrains: "JetBrains Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-jetbrains);
  --color-app-bg: var(--app-background);
  --color-point: var(--point-color);
  --color-neon-green: var(--point-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--app-background);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

@layer utilities {
  .container {
    width: 100%;
    max-width: 1280px;
  }
}
